

{% load el_pagination_tags %}
{% paginate posts %}
{% for post in posts %}
            <article>  
               	<div class="post">
                    <p>{{ post.text|linebreaks }}</p>
                    <h4>{{ post.poster }} </h4>
                    <h5><a target="_blank" href="{{ post.link }}">{{ post.source }}</a> 
                    	{{ post.published_date | timesince }} ago</h5>
                   	<br>
           			<div class="social">      	
		      			<div class="fb-share-button" data-href="http://www.thepowwow.co" data-layout="button" style="vertical-align:top; zoom:1; z-index:0" data-mobile-iframe="true"></div>
     
						<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://thepowwow.co/post/{{ post.pk }}" data-text="I can't believe what {{ post.poster }} said on {{ post.source }} 😳 #{{ post.tag1 }}" data-size="normal" data-related="powwow" data-count="none"></a>
					</div>
          
				</div>	
                
            </article> 

            {% endfor %}
            {% show_more %}

