{% extends 'powwows/layout.html' %}

<head>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76610504-1', 'auto');
  ga('send', 'pageview');

  <title>powwow</title>

<meta property="og:url"           content="http://powwow.pythonanywhere.com" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="powwow" />
        <meta property="og:description"   content="We aggregate comments from news stories and share them in a single feed. Users can share these comments on either Facebook or Twitter" />
</script>

        

</head>

<header>

</header>


{% block content %}

   
	
            {% for post in posts %}
               	<article>  
               	<div class="post">
                    <p>{{ post.text|linebreaks }}</p>
                    <h4>{{ post.poster }} </h4>
                    <h5><a target="_blank" href="{{ post.link }}">{{ post.source }}</a> 
                    	{{ post.published_date | timesince }} ago</h5>
                   	<br>
                	
		      <div class="fb-share-button" data-href="http://www.thepowwow.co" data-layout="button" style="vertical-align:top;zoom:1;*display:inline;z-index:0" data-mobile-iframe="true"></div>
     
						<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://powwow.pythonanywhere.com/post/{{ post.pk }}" data-text="I can't believe what {{ post.poster }} said on {{ post.source }} 😳" data-size="normal" data-related="powwow" data-count="none">Tweet</a>
						
          
					</div>	
                
               </article> 

            {% endfor %}
    


        

{% endblock %}



